<div id="helpTitleBar"><label class="dropDownTitleText">Credits</label></div>
<p class="dropDownBody">DarwinDumper was originally inspired as an open project by Trauma. It has remained an open project so please keep it an open project. If you make any changes or additions then please share your work at the main <a href="http://bit.ly/15fjEdS" target="_blank">development thread</a> at projectosx.com</p>
<p class="dropDownBody">DarwinDumper would not exist if it were not for the ideas, scripts, tools and testing from many contributors (in alphabetical order):</p>
<p class="dropDownBody">Adam Jackson, Amit Singh, Andy Vandijck, Apple Inc., bcc9, blackosx, cmf, dmazar, dong, droplets, Intel Corporation, JrCs, Kabyl, Kynnder, Martin Mareš, mcmatrix, phcoder, rafirafi, гык-sse2, Slice ,sonotone, STLVNUB, THe KiNG, Trauma, xsmile, !Xabbu.</p>
<p class="dropDownBody">DarwinDumper makes use of <a href="http://sveinbjorn.org/platypus" target="_blank">Platypus</a> for it's application wrapper, <a href="https://bitbucket.org/blackosx/macgap" target="_blank">macgap</a> for it's user interface along with the <a href="http://jquery.com" target="_blank">jQuery</a> and <a href="http://jqueryui.com" target="_blank">jQueryUI</a> libraries.</p>
                        