<div id="helpTitleBar"><label class="dropDownTitleText">Information: Kernel Information</label></div>
<p class="dropDownBody">This option runs three commands.</p>
<p class="dropDownBody">First, /usr/bin/uname is run to dump the kernel version and architecture.</p>
<p class="dropDownBody">Second, /usr/sbin/sysctl is run to dump the cpu information.</p>
<p class="dropDownBody">Third, /usr/sbin/sysctl is run to dump the hardware information.</p>
<p class="dropDownBody">Each dump is appended to a file named Kernel-Info.txt and saved in the latest dump/Kernel folder.</p>