<div id="helpTitleBar"><label class="dropDownTitleText">DarwinDumperReports Parent Directory</label></div>
<p class="dropDownBody">DarwinDumper creates a container directory named DarwinDumperReports to hold all dumps. By default this directory is created in the same directory as DarwinDumper.app. For example:</p>
<p class="dropDownBody"><span style="color:#FFFF99">App path: </span><span style="color:#32CD32">/Applications/DarwinDumper/DarwinDumper.app</span><br/>
<span style="color:#FFFF99">Reports path: </span><span style="color:#32CD32">/Applications/DarwinDumper/DarwinDumperReports</span></p>
<p class="dropDownBody">When DarwinDumper is set to run, each dump is then saved in a new DarwinDumperReports sub-directory named with a 3-digit sequentially indexed number, the date and time and the MacModel identifier. For example:</p>
<p class="dropDownBody"><span style="color:#FFFF99">Dump path: </span><span style="color:#32CD32">/Applications/DarwinDumper/DarwinDumperReports/000_2013-06-15_08-48-55_iMac12,2</span></p>

<p class="dropDownBody">If you prefer an alternative parent directory for DarwinDumperReports then you can choose one below. Alternatively, if you already have a DarwinDumperReports folder you want to use then select it below.</p>

<table width="425" border="0" id="table_save_directory">
    <tr>
        <td width="225"><form action=""><input type="text" name="saveDirectory" size="55"</form></td>
        <td width="100"><button type="button" id="saveDirectory_page_button" onclick="saveDirectoryPageButtonPressed();">Browse</button></td>
        <td width="100"><button type="button" id="saveDirectory_page_clear_button" onclick="saveDirectoryPageClearButtonPressed();">Reset</button></td>
    </tr>
</table>
<br>
<table width="425" border="0" id="table_save_directory">
    <tr>
        <th width="425" class="dropDownTableBodyBoldNote" style="font-weight:normal;">Please DO NOT select a directory with either parenthesis ( or ) in the name as defaults write fails! Because of this, the script will refuse to accept a path containing either.</td>
        <td></td>
    </tr>
</table>