<div id="helpTitleBar"><label class="dropDownTitleText">Information: Kernel dmesg</label></div>
<p class="dropDownBody">Runs the /sbin/dmesg tool and saves the result to a file named Boot-Messages.txt in the latest dump/Kernel folder.</p>
<table width="425" border="0">
    <tr>
        <th width="50" class="dropDownTableBodyBoldNote">Note</td>
        <td width="325" class="dropDownTableBodyNote">Root privileges are required to run this.</td>
    </tr>
</table>